In [1]:
# Importing Libraries and configuring the data display by Emmanuel Abdallah odori 20/U/7771/PS
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#CAF1DE"})

In [ ]:
"""
Project title:Analysis and visualization of the UACE results from 2011-2015
project objectives:
"""

In [8]:
# Loading the UACE Results 2011-2015 dataset by Emmanuel Abdallah odori 20/U/7771/PS
# I have used  'r' prefix before a string to indicate that i am dealing with raw string
# literal to avoid the unicode errors that may arise if some characters can not be decoded.
UACE_results =pd.read_csv(r'C:\Users\Emmanuel Abdallah\StudioProjects\Recess_datascience_project\Dataset\UaceResults2011-2015.csv')

In [9]:
# Displaying the first 10 rows in UACE_results dataFrame created 
# for initial analysis by Emmanuel Abdallah odori 20/U/7771/PS
UACE_results.head(10)

,District_Name,SCHOOL,Gender,2011 Total,%0-5 Points,%6-10 Points,%11-15 Points,%16-20 Points,%21-25 Points,2012 Total,%0-5 Points.1,%6-10 Points.1,%11-15 Points.1,%16-20 Points.1,%21-25 Points.1,2013 Total,%0-5 Points.2,%6-10 Points.2,%11-15 Points.2,%16-20 Points.2,2014 Total,%0-5 Points.3,%6-10 Points.3,%11-15 Points.3,%16-20 Points.3,2015 Total,%0-5 Points.4,%6-10 Points.4,%11-15 Points.4,%16-20 Points.4
0,AMUDAT,POKOT SECONDARY SCHOOL,FEMALE,NaN,0.0,0.0,0.0,0.0,0.0,3.0,66.7,33.3,0.0,0.0,0.0,8.0,75.0,25.0,0.0,0.0,2.0,50.0,0.0,50.0,0.0,1,0.0,0.0,100.0,0.0
1,AMUDAT,NaN,MALE,NaN,0.0,0.0,0.0,0.0,0.0,8.0,12.5,75.0,12.5,0.0,0.0,14.0,71.4,28.6,0.0,0.0,9.0,55.6,44.4,0.0,0.0,4,25.0,50.0,25.0,0.0
2,AMUDAT Total,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,11.0,27.3,63.6,9.1,0.0,0.0,22.0,72.7,27.3,0.0,0.0,11.0,54.5,36.4,9.1,0.0,,20.0,40.0,40.0,0.0
3,PADER,ARCHBP.FLYNN SECONDARY SCHOOL,FEMALE,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,14,21.4,42.9,35.7,0.0
4,PADER,NaN,MALE,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,22,40.9,50.0,9.1,0.0
5,PADER,PADER TOWN HALL LAGWAI SEED SS,FEMALE,3.0,66.7,0.0,0.0,33.3,0.0,4.0,50.0,25.0,0.0,25.0,0.0,10.0,40.0,40.0,20.0,0.0,3.0,33.3,33.3,33.3,0.0,3,66.7,33.3,0.0,0.0
6,PADER,NaN,MALE,17.0,41.2,52.9,0.0,5.9,0.0,22.0,40.9,40.9,13.6,4.5,0.0,32.0,75.0,18.8,6.3,0.0,18.0,44.4,55.6,0.0,0.0,10,71.0,20.0,0.0,0.0
7,PADER,PAJULE SECONDARY SCHOOL,FEMALE,NaN,0.0,0.0,0.0,0.0,0.0,5.0,40.0,40.0,20.0,0.0,0.0,16.0,12.5,62.5,25.0,0.0,4.0,100.0,0.0,0.0,0.0,2,50.0,50.0,0.0,0.0
8,PADER,NaN,MALE,NaN,0.0,0.0,0.0,0.0,0.0,19.0,15.8,52.6,31.6,0.0,0.0,58.0,37.9,37.9,24.1,0.0,28.0,46.4,32.1,21.4,0.0,26,43.8,46.2,3.8,0.0
9,PADER Total,NaN,NaN,20.0,45.0,45.0,0.0,10.0,0.0,50.0,32.0,44.0,20.0,4.0,0.0,116.0,44.8,36.2,19.0,0.0,53.0,49.1,37.7,13.2,0.0,77,43.8,42.9,10.4,0.0

In [13]:
# Getting the shape of the dataframe i.e. numbers of rows and column by Emmanuel Abdallah odori 20/U/7771/PS
UACE_results.shape
# As per the shape we are having 3916 rows and 30 columns in the dataset

(3916, 30)

In [11]:
# Getting more informations about the of the dataframe i.e. numbers of rows and column by Emmanuel Abdallah odori 20/U/7771/PS
UACE_results.describe()

,2011 Total,%0-5 Points,%6-10 Points,%11-15 Points,%16-20 Points,%21-25 Points,2012 Total,%0-5 Points.1,%6-10 Points.1,%11-15 Points.1,%16-20 Points.1,%21-25 Points.1,2013 Total,%0-5 Points.2,%6-10 Points.2,%11-15 Points.2,%16-20 Points.2,2014 Total,%0-5 Points.3,%6-10 Points.3,%11-15 Points.3,%16-20 Points.3,%0-5 Points.4,%6-10 Points.4,%11-15 Points.4,%16-20 Points.4
count,2676.000000,3916.000000,3916.000000,3916.000000,3916.000000,3916.000000,2931.000000,3916.000000,3916.000000,3916.000000,3916.000000,3916.000000,3363.000000,3916.000000,3916.000000,3916.000000,3916.000000,3558.000000,3916.000000,3916.000000,3916.000000,3916.000000,3916.000000,3916.000000,3916.000000,3916.000000
mean,116.234305,19.369101,26.034806,15.612998,6.246144,1.074413,113.979529,19.669331,30.053779,17.875868,6.223366,1.027222,207.188225,39.931793,31.680797,12.301124,1.967058,91.284148,36.815041,33.954290,16.549821,3.541088,35.830439,38.399591,12.568284,1.204648
std,2070.812442,22.703456,22.207197,16.609441,11.048565,4.579570,2121.616198,21.260560,22.300994,17.009601,10.230743,3.905497,4119.502442,28.996888,20.602430,14.680369,6.137918,1870.322164,27.452396,20.059448,16.556906,8.606630,24.906434,21.892027,15.235757,4.571343
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,13.800000,16.700000,0.000000,0.000000,10.000000,14.100000,22.200000,0.000000,0.000000,16.700000,25.000000,0.000000,0.000000
50%,28.000000,11.100000,30.000000,11.500000,0.000000,0.000000,28.000000,13.300000,34.650000,15.600000,0.000000,0.000000,50.000000,40.000000,34.550000,7.100000,0.000000,21.000000,34.650000,36.000000,12.500000,0.000000,34.100000,41.200000,8.000000,0.000000
75%,55.000000,33.300000,43.325000,27.500000,8.300000,0.000000,53.000000,32.750000,46.600000,30.400000,9.100000,0.000000,94.000000,62.350000,46.200000,19.850000,0.000000,41.000000,56.100000,46.700000,27.100000,3.700000,51.900000,52.100000,20.000000,0.000000
max,103681.000000,100.000000,100.000000,100.000000,72.200000,100.000000,111358.000000,100.000000,100.000000,100.000000,65.400000,69.600000,232258.000000,100.000000,100.000000,100.000000,78.000000,108263.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [14]:
# Getting more informations about the of the dataframe i.e. numbers of rows and column by Emmanuel Abdallah odori 20/U/7771/PS
UACE_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3916 entries, 0 to 3915
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   District_Name    3916 non-null   object
 1   SCHOOL           1957 non-null   object
 2   Gender           3802 non-null   object
 3   2011 Total       2676 non-null   float64
 4   %0-5 Points      3916 non-null   float64
 5   %6-10 Points     3916 non-null   float64
 6   %11-15 Points    3916 non-null   float64
 7   %16-20 Points    3916 non-null   float64
 8   %21-25 Points    3916 non-null   float64
 9   2012 Total       2931 non-null   float64
 10  %0-5 Points.1    3916 non-null   float64
 11  %6-10 Points.1   3916 non-null   float64
 12  %11-15 Points.1  3916 non-null   float64
 13  %16-20 Points.1  3916 non-null   float64
 14  %21-25 Points.1  3916 non-null   float64
 15  2013 Total       3363 non-null   float64
 16  %0-5 Points.2    3916 non-null   float64
 17  %6-10 Points.2   3916 non-null   float64
 18  %11-15 Points.2  3916 non-null   float64
 19  %16-20 Points.2  3916 non-null   float64
 20  2014 Total       3558 non-null   float64
 21  %0-5 Points.3    3916 non-null   float64
 22  %6-10 Points.3   3916 non-null   float64
 23  %11-15 Points.3  3916 non-null   float64
 24  %16-20 Points.3  3916 non-null   float64
 25  2015 Total       3621 non-null   object
 26  %0-5 Points.4    3916 non-null   float64
 27  %6-10 Points.4   3916 non-null   float64
 28  %11-15 Points.4  3916 non-null   float64
 29  %16-20 Points.4  3916 non-null   float64
dtypes: float64(26), object(4)
memory usage: 917.9+ KB